/* img{
    width: 100%;
  }
   */


  body {
    overflow: hidden;
    border-style: none;
  }


  
  .bg_full img {
    position: relative;
    width: 100%;  /* 부모 요소 너비에 맞게 이미지 크기 조정 */
    height: 100%; /* 부모 요소 높이에 맞게 이미지 크기 조정 */

  }
  

  

  @keyframes dongdong {
    from{
        transform:translateY(0)
    }
    to{
        transform:translateY(-30px)
    }
}


  .ps_product{
    position: absolute;
    left: 50%;
    top: 3.4%;
    translate: -50% 0%;
    width: 80vw;
    animation: dongdong 1.8s infinite alternate;
  
    img{
      width: 100%;  /* 부모 요소 너비에 맞게 이미지 크기 조정 */
      height: auto; /* 부모 요소 높이에 맞게 이미지 크기 조정 */
    }
  }



  .section01{
    position: relative;
  }

  .section01_awesome{
    position: absolute;
    top: 3vw;
    left: 50%;
    translate: -50% 0;
  
    img{
      width: 58vw;
    }
  }


  .section01_start{
    position: absolute;
    top: 29.3vw;
    left: 9.3vw;
  
    img{
      width: 19vw;
    }
  }

  
  .section01_folder01{
    position: absolute;
    top: 39.8vw;
    right: 5.6vw;
  
    img{
      width: 25.5vw;
    }
  }


  .section01_folder02{
    position: absolute;
    top: 70.3vw;
    left: 8.4vw;
  
    img{
      width: 26.5vw;
    }
  }


  .section01_bubble01{
    position: absolute;
    top: 42.6vw;
    right: 26.2vw;
  
    img{
      width: 8.8vw;
    }
  }


  .section01_bubble02{
    position: absolute;
    top: 64.2vw;
    left: 11.2vw;
  
    img{
      width: 11.5vw;
    }
  }


  .section01_bubble03{
    position: absolute;
    top: 76.7vw;
    right: 11.9vw;
  
    img{
      width: 10vw;
    }
  }


  .section02{
    position: relative;
  }


.section03{
  position: relative;
}

.section03_text{
  position: absolute;
  top: 16.5vw;
  left: 17.5vw;
    
  img{
    width: 31.5vw;
  }
}


.section04{
  position: relative;
}

.section04_bubble01{
  position: absolute;
  top: 35vw;
  left: 6.2vw;
    
  img{
    width: 8.8vw;
  }
}

.section04_bubble02{
  position: absolute;
  top: 35vw;
  right: 5.6vw;
    
  img{
    width: 8.8vw;
  }
}



.graph_left{
  position: absolute;
  top: 51.6vw;
  left: 19.1vw;
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
  width: 27.2vw;

  img{
    width: 22.1vw;
  }
}



.graph_orange01{
  position: absolute;
  top: 51.6vw;
  left: 19.1vw;
  width: 0;
  height: 0.9vw;
  background-color: #ff8c00;
  border-radius: 20px;
  transition: width 1s ease;  /* width 애니메이션 */
}


.graph_orange02{
  position: absolute;
  top: 54.1vw;
  left: 19.1vw;
  width: 0;
  height: 0.9vw;
  background-color: #ff8c00;
  border-radius: 20px;
  transition: width 1s ease;  /* width 애니메이션 */
}


.graph_orange03{
  position: absolute;
  top: 56.6vw;
  left: 19.1vw;
  width: 0;
  height: 0.9vw;
  background-color: #ff8c00;
  border-radius: 20px;
  transition: width 1s ease;  /* width 애니메이션 */
}






.graph_right{
  position: absolute;
  top: 51.6vw;
  right: 11.8vw;
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
  width: 27.2vw;

  img{
    width: 22.1vw;
  }
}





.graph_orange04{
  position: absolute;
  top: 51.6vw;
  left: 61vw;
  width: 0;
  height: 0.9vw;
  background-color: #ff8c00;
  border-radius: 20px;
  transition: width 1s ease;  /* width 애니메이션 */
}


.graph_orange05{
  position: absolute;
  top: 54.1vw;
  left: 61vw;
  width: 0;
  height: 0.9vw;
  background-color: #ff8c00;
  border-radius: 20px;
  transition: width 1s ease;  /* width 애니메이션 */
}


.graph_orange06{
  position: absolute;
  top: 56.6vw;
  left: 61vw;
  width: 0;
  height: 0.9vw;
  background-color: #ff8c00;
  border-radius: 20px;
  transition: width 1s ease;  /* width 애니메이션 */
}


.section05{
  position: relative;
}

.section05_bubble01{
  position: absolute;
  top: 21.5vw;
  left: 20.6vw;
    
  img{
    width: 29.8vw;
  }
}

.section05_bubble02{
  position: absolute;
  top: 22vw;
  right: 12.2vw;
    
  img{
    width: 28vw;
  }
}

.section05_bubble03{
  position: absolute;
  top: 29.6vw;
  left: 10.6vw;
    
  img{
    width: 23.4vw;
  }
}

.section05_bubble04{
  position: absolute;
  top: 34.7vw;
  left: 27.4vw;
    
  img{
    width: 29.4vw;
  }
}

.section05_bubble05{
  position: absolute;
  top: 30.8vw;
  right: 9.6vw;
    
  img{
    width: 23.8vw;
  }
}

.section05_bubble00{
  position: absolute;
  top: 28vw;
  left: 50%;
  translate: -50% 0;
  z-index: 1;
    
  img{
    width: 29.8vw;
  }
}



.section06{
  position: relative;
}

.section06_bubble01{
  position: absolute;
  top: 10vw;
  left: 27.3vw;

  img{
    width: 11.1vw;
  }
}

.section06_bubble02{
  position: absolute;
  top: 14.5vw;
  right: 35vw;

  img{
    width: 11.1vw;
  }
}

.section06_bubble03{
  position: absolute;
  top: 11.5vw;
  right: 12.2vw;

  img{
    width: 11.1vw;
  }
}



.section08{
  position: relative;
}

.section08_search01{
  position: absolute;
  top: 25.8vw;
  left: 10.6vw;

  img{
    width: 14.4vw;
  }
}

.section08_search02{
  position: absolute;
  top: 49.7vw;
  right: 11vw;

  img{
    width: 18.4vw;
  }
}

.section08_search03{
  position: absolute;
  top: 55.2vw;
  left: 23.4vw;

  img{
    width: 15.4vw;
  }
}

.section08_carousel01{
  position: absolute;
  top: 118.8vw;
  right: 27.1vw;

  img{
    width: 16.2vw;
  }
}

.section08_carousel02{
  position: absolute;
  top: 118.8vw;
  right: 11.2vw;

  img{
    width: 16.2vw;
  }
}


.section08_video {
  position: absolute;
  left: 50%;
  top: 87vw;
  translate: -50% -50%;
 
  height: 48.8vw;   
  
  border-radius: 46px;
  overflow: hidden;

  video {
    width: 23vw;
    height: 53vw;
    object-fit: cover;
    display: block;
    transform: translateY(-2.8%); /* ← 이걸로 위로 5% 이동 */
  }
}


.section08_video_top{
  position: absolute;
  top: 55.7vw;
  left: 55.8vw;

  img{
    width: 23.8vw;
  }
}


.section08_camera{
  position: absolute;
  left: 50%;
  top: 55.7vw;
  translate:-50% 0;

  img{
    width: 6.8vw;
  }
}



.section09{
  position: relative;
}

.section09_number01_1{
  position: absolute;
  top: 25.1vw;
  left: 25.3vw;

  img{
    width: 13.7vw;
  }
}

.section09_number01_2{
  position: absolute;
  top: 30.3vw;
  left: 27vw;

  img{
    width: 6.7vw;
  }
}

.section09_number01_3{
  position: absolute;
  top: 32.5vw;
  left: 27vw;

  img{
    width: 19.6vw;
  }
}

.section09_number01_4{
  position: absolute;
  top: 33.9vw;
  left: 27vw;

  img{
    width: 10.5vw;
  }
}

.section09_number01_5{
  position: absolute;
  top: 35.2vw;
  left: 27vw;

  img{
    width: 16.9vw;
  }
}

.section09_number02_1{
  position: absolute;
  bottom: 19vw;
  left: 10.1vw;

  img{
    width: 15.3vw;
  }
}

.section09_number02_2{
  position: absolute;
  bottom: 16.5vw;
  left: 11.8vw;

  img{
    width: 8vw;
  }
}

.section09_number02_3{
  position: absolute;
  bottom: 14.3vw;
  left: 11.8vw;

  img{
    width: 15.2vw;
  }
}

.section09_number02_4{
  position: absolute;
  bottom: 13vw;
  left: 11.8vw;

  img{
    width: 15.1vw;
  }
}

.section09_number02_5{
  position: absolute;
  bottom: 11.7vw;
  left: 11.8vw;

  img{
    width: 15.5vw;
  }
}

.section09_number03_1{
  position: absolute;
  bottom: 13vw;
  left: 71vw;

  img{
    width: 15.3vw;
  }
}

.section09_number03_2{
  position: absolute;
  bottom: 10.7vw;
  left: 72.5vw;

  img{
width: 9vw;
  }
}

.section09_number03_3{
  position: absolute;
  bottom: 8.6vw;
  left: 72.5vw;

  img{
    width: 16vw;
  }
}

.section09_number03_4{
  position: absolute;
  bottom: 7.1vw;
  left: 72.5vw;

  img{
    width: 17.5vw;
  }
}

.section09_number03_5{
  position: absolute;
  bottom: 5.8vw;
  left: 72.5vw;

  img{
    width: 15.5vw;
  }
}


